name: Release
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  build-release:
    name: Build release artifacts
    permissions:
      id-token: write
      attestations: write
      artifact-metadata: write
    strategy:
      matrix:
        os: [linux]
        arch: [amd64]
    runs-on: ubuntu-latest
    env:
      GOOS: ${{ matrix.os }}
      GOARCH: ${{ matrix.arch }}
      CGO_ENABLED: "0"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Get version number
        id: version
        run: echo "version=$(echo ${{ github.ref_name }} | cut -c2- -)" >> $GITHUB_OUTPUT
      - name: Get name of repo
        id: repo
        run: echo "repo=$(echo ${{ github.repository }} | cut -d/ -f2)" >> $GITHUB_OUTPUT
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Install depends
        run: go get .
      - name: Build
        run: go build -v -o ${{ steps.repo.output.repo }}-${{ steps.version.outputs.version }}-${{ matrix.os }}-${{ matrix.arch }}
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: ${{ steps.repo.output.repo }}*
      - name: Upload build artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.repo.output.repo }}-${{ steps.version.outputs.version }}-${{ matrix.os }}-${{ matrix.arch }}
          path: ${{ steps.repo.output.repo }}*
  docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Login to docker image repository
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: "ghcr.io/${{ github.repository }}"
      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          provenance: mode=max
          sbom: true
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
  release:
    runs-on: ubuntu-latest
    needs: [build-release, docker-image]
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Get version number
        id: version
        run: echo "version=$(echo ${{ github.ref_name }} | cut -c2- -)" >> $GITHUB_OUTPUT
      - name: Release
        uses: ncipollo/release-action@v1
        with:
          generateReleaseNotes: true
          makeLatest: "legacy"
          name: "Version ${{ steps.version.outputs.version }}"
          immutableCreate: true
